<div class="grid-row">
  <div class="column-full reducemargin">
    {{> common/back}} {{> common/errors}} 
    
    
    <h1 class="heading-large">Small sea trout caught for river {{riverName}}</h1>
    <p>For each month, click on the numbers to enter small sea trout caught and released. For nil catches click the Save button.
    </p>
    <table class="smallSeaTroutInput" style="width: 90%">
      <thead>
        <tr>
          <th>Month</th>
          <th>Fly</th>
          <th>Spinner</th>
          <th>Bait</th>
          <th>Released</th>
        </tr>
      </thead>
      <tbody>

       <form method="post" autocomplete="off" novalidate>
        {{#each validMonths}} 
          <tr>
          <td>{{month}}</td>
            <td>
              <input class="gridInput" id="fly" type="number" value="0" maxlength="3" size="7" aria-required="true" name="fly">
            </td>
            <td>
              <input class="gridInput" id="spinner" type="number" value="0" maxlength="3" size="7" aria-required="true" name="spinner">
            </td>
            <td>
              <input class="gridInput" id="bait" type="number" value="0" maxlength="3" size="7" aria-required="true" name="bait">
            </td>
            <td>
              <input class="gridInput" id="NumberOfFishReleased" type="number" value="0" maxlength="3" size="7" aria-required="true" name="NumberOfFishReleased">
            </td>
          </tr>
        {{/each}} 
      </tbody>
    </table>
    <br>
      <button value="SalmonAndLargeSeaTrout" name="next" class="button" type="Submit">Add salmon and large sea trou</button>
      <button value="Review" name="next" class="button" type="Submit">Save and continue</button>
    </form>
  </div>
</div>