<div class="grid-row">
  <div class="column-full reducemargin">
    {{> common/back}} {{> common/errors}}




    <h1 class="heading-large">Add salmon and large sea trout (over 1lb) for river {{riverName}}</h1>

    <form method="post" autocomplete="off" novalidate>

      <fieldset data-required data-error="{{errorMessage}}">
        <legend class="visually-hidden">Add salmon and large sea trout (over 1lb) for river {{riverName}}</legend>
        <div class="form-group">
          <h3 class="heading-small">Date of catch</h3>


          <div class="form-group form-group-day">
            <label class="form-label day" for="day">Day</label>
            <select class="form-control" id="day" aria-required="true" name="day">
                    <option value="-1" selected="selected">Day</option>
                    <option value="1">1</option>
                    <option value="2">2</option>
                    <option value="3">3</option>
                    <option value="4">4</option>
                    <option value="5">5</option>
                    <option value="6">6</option>
                    <option value="7">7</option>
                    <option value="8">8</option>
                  </select>
          </div>
          <div class="form-group form-group-month">
            <label class="form-label month" for="month">Month</label>
            <select class="form-control" id="month" type="text" aria-required="true" name="month">
                    <option value="1" selected="selected">January</option>
                    <option value="2" selected="selected">February</option>
                    <option value="3" selected="selected">March</option>
                    <option value="4" selected="selected">Aprill</option>
                    <option value="5" selected="selected">May</option>
                    <option value="6" selected="selected">June</option>
                    <option value="7" selected="selected">July</option>
                    <option value="8" selected="selected">Augaust</option>
                    <option value="9" selected="selected">Sepetmber</option>
                    <option value="10" selected="selected">October</option>
                    <option value="11" selected="selected">November</option>
                    <option value="12" selected="selected">December</option>
                  </select>
          </div>
          <div class="form-group form-group-year">
            <label class="form-label year" for="year">Year</label>
            <select class="form-control" id="year" aria-required="true" name="year">
                      <option value="2016" selected="selected">2016</option>	
                      <option value="2017" selected="selected">2017</option>						
                    </select>
          </div>




        </div>
      </fieldset>

      <fieldset data-required data-error="{{errorMessage}}">
        <legend class="visually-hidden">Add salmon and large sea trout (over 1lb) for river</legend>
        <div class="form-group">
          <h3 class="heading-small">Type of catch</h3>
          <label for="salmonAndGrilse" class="block-label selection-button-radio">Salmon and Grilse
                  <input id="salmonAndGrilse" type="radio" name="fishType" value="Salmon and Grilse">
                </label>
          <label for="SeaTrout" class="block-label selection-button-radio">Sea Trout
                  <input id="SeaTrout" type="radio" name="fishType" value="Sea Trout">
                </label>
        </div>
      </fieldset>

      <fieldset data-required data-error="{{errorMessage}}">
        <div class="form-group">
          <h3 class="heading-small">Weight of catch</h3>

          <div class="form-group form-group-day">
            <label class="form-label day" for="lb">lb</label>
            <input class="form-control" id="lb" name="lb" type="number">
          </div>
          <div class="form-group form-group-month">
            <label class="form-label month" for="oz">oz</label>
            <input class="form-control" id="oz" name="oz" type="number">
          </div>
          <!--<button class="button button-secondary">Convert to metric</button>-->
        </div>
      </fieldset>


      <fieldset data-required data-error="{{errorMessage}}">
        <div class="form-group">
          <h3 class="heading-small">Method of capture</h3>
          <label for="methodFly" class="block-label selection-button-radio">Fly
                  <input id="methodFly" type="radio" name="MethodOfCapture" value="methodFly">
                </label>
          <label for="methodSpinner" class="block-label selection-button-radio">Spinner
                  <input id="methodSpinner" type="radio" name="MethodOfCapture" value="methodSpinner">
                </label>
          <label for="methodBait" class="block-label selection-button-radio">Bait
                  <input id="methodBait" type="radio" name="MethodOfCapture" value="methodBait">
                </label>
        </div>
      </fieldset>
      <fieldset data-required data-error="{{errorMessage}}">
        <div class="form-group">
          <h3 class="heading-small">Released</h3>
          <label for="Yes" class="block-label selection-button-radio">Yes
                  <input id="Yes" type="radio" name="released" value="Yes">
                </label>
          <label for="No" class="block-label selection-button-radio">No
                  <input id="No" type="radio" name="released" value="No">
                </label>
        </div>
      </fieldset>
      <button value="SalmonAndLargeSeaTrout" name="next" class="button" type="Submit">Save and add another</button>
      <button value="Review" name="next" class="button" type="Submit">Save and continue</button>
      <a href="review" class="button button-secondary">Cancel</a>
    </form>











  </div>
</div>