<div class="grid-row">
  <div class="column-full reducemargin">
    {{> common/back}} {{> common/errors}}

    <h1 class="heading-large">Small sea trout caught for river {{currentRiver}}</h1>
    <!--<p>For each month, click on the numbers to enter small sea trout caught and released. For nil catches click the Save button.-->
    <!--</p>-->
    <p>For each month, click on the numbers to enter small sea trout (under 1lb in weight but not smolts) caught and released. For nil catches click the ‘Save and continue’ button below.</p>
    <table class="smallSeaTroutInput" style="width: 90%">
      <thead>
        <tr>
          <th>Month</th>
          <th>Fly</th>
          <th>Spinner</th>
          <th>Bait</th>
          <th>Released</th>
        </tr>
      </thead>
      <tbody>
        <form method="post" autocomplete="off" novalidate>
          {{#each littleFish}} 
          <tr>
            <td>
              <input id="month" type="text" value="{{month}}" name="month{{@index}}" readonly></td>
            <td>
              <input id="fly" type="number" value="{{fly}}" name="fly{{@index}}">
            </td>
            <td>
              <input id="spinner" type="number" value="{{spinner}}" name="spinner{{@index}}">
            </td>
            <td>
              <input id="bait" type="number" value="{{bait}}" name="bait{{@index}}">
            </td>
            <td>
              <input id="NumberOfFishReleased" type="number" value="{{NumberOfFishReleased}}" name="NumberOfFishReleased{{@index}}">
            </td>
          </tr>
          {{/each}} 
      </tbody>
    </table>
    <br>
    <button value="SalmonAndLargeSeaTrout" name="next" class="button" type="Submit">Add salmon and large sea trou</button>
    <button value="Review" name="next" class="button" type="Submit">Save and continue</button>
    </form>
  </div>
</div>