<div class="grid-row">
  <div class="column-full reducemargin">
    {{> common/back}} {{> common/errors}}

    <h1 class="heading-large">Edit salmon and large sea trout (over 1lb) for river {{currentRiver}}</h1>
    <form method="post" autocomplete="off" novalidate>

      <fieldset data-required data-error="{{errorMessage}}">
        <legend class="visually-hidden">Add salmon and large sea trout (over 1lb) for river {{currentRiver}}</legend>
        <div class="form-group">
          <h3 class="heading-small">Date of catch</h3>

          {{#if licencelength}}
          <div class="form-group form-group-day">
            <label class="form-label day" for="day">Day</label>
            <select class="form-control" id="day" aria-required="true" name="day">
                <!--<option value="-1" selected="selected">Day</option>-->
                <option value="currentFish.day" selected="selected">{{currentFish.day}}</option>
                <option value="1">1</option>
                <option value="2">2</option>
                <option value="3">3</option>
                <option value="4">4</option>
                <option value="5">5</option>
                <option value="6">6</option>
                <option value="7">7</option>
                <option value="8">8</option>
                <option value="9">9</option>
                <option value="10">10</option>
                <option value="11">11</option>
                <option value="12">12</option>
                <option value="13">13</option>
                <option value="14">14</option>
                <option value="15">15</option>
                <option value="16">16</option>
                <option value="17">17</option>
                <option value="18">18</option>
                <option value="19">19</option>
                <option value="20">20</option>
                <option value="21">21</option>
                <option value="22">22</option>
                <option value="23">23</option>
                <option value="24">24</option>
                <option value="25">25</option>
                <option value="26">26</option>
                <option value="27">27</option>
                <option value="28">28</option>
                <option value="29">29</option>
                <option value="30">30</option>
                <option value="31">31</option>
              </select>
          </div>
          <div class="form-group form-group-month">
            <label class="form-label month" for="month">Month</label>
            <select class="form-control" id="month" type="text" aria-required="true" name="month">
              <option value="currentFish.month" selected="selected">{{currentFish.month}}</option>
              <option value="1" selected="selected">January</option>
              <option value="2" selected="selected">February</option>
              <option value="3" selected="selected">March</option>
              <option value="4" selected="selected">April</option>
              <option value="5" selected="selected">May</option>
              <option value="6" selected="selected">June</option>
              <option value="7" selected="selected">July</option>
              <option value="8" selected="selected">Augaust</option>
              <option value="9" selected="selected">Sepetmber</option>
              <option value="10" selected="selected">October</option>
              <option value="11" selected="selected">November</option>
              <option value="12" selected="selected">December</option>
            </select>
          </div>
          <div class="form-group form-group-year">
            <label class="form-label year" for="year">Year</label>
            <select class="form-control" id="year" aria-required="true" name="year">
              <option value="currentFish.year" selected="selected">{{currentFish.year}}</option>
              <option value="2017" selected="selected">2017</option>
              <option value="2018" selected="selected">2018</option>
            </select>
          </div>
          {{else}}
          <div class="form-group form-group-day">
            <label class="form-label day" for="day">Day</label>
            <select class="form-control" id="day" aria-required="true" name="day">
                <option value="-1" selected="selected">Day</option>
                <option value="currentFish.day" selected="selected">{{currentFish.day}}</option>
                <option value="2">2</option>
                <option value="3">3</option>
                <option value="4">4</option>
                <option value="5">5</option>
                <option value="6">6</option>
                <option value="7">7</option>
                <option value="8">8</option>
                <option value="9">9</option>
              </select>
          </div>
          <div class="form-group form-group-month">
            <label class="form-label month" for="month">Month</label>
            <select class="form-control" id="month" type="text" aria-required="true" name="month">
              <option value="currentFish.month" selected="selected">{{currentFish.month}}</option>
              <option value="4" selected="selected">April</option>
            </select>
          </div>
          <div class="form-group form-group-year">
            <label class="form-label year" for="year">Year</label>
            <select class="form-control" id="year" aria-required="true" name="year">
              <option value="currentFish.year" selected="selected">{{currentFish.year}}</option>
              <option value="2017" selected="selected">2017</option>
            </select>
          </div>
          {{/if}}
        </div>
      </fieldset>

      <fieldset data-required data-error="{{errorMessageTwo}}">
        <div class="form-group">
          <h3 class="heading-small">Type of catch</h3>
          <label for="salmonAndGrilse" class="block-label selection-button-radio">Salmon and Grilse
            <input id="salmonAndGrilse" type="radio" name="fishType" value="Salmon and Grilse" {{#if SalmonChecked}}checked{{/if}}>
          </label>
          <label for="SeaTrout" class="block-label selection-button-radio">Sea Trout
            <input id="SeaTrout" type="radio" name="fishType" value="Sea Trout" {{#if SeaTroutChecked}}checked{{/if}}>
          </label>
        </div>
      </fieldset>

      <fieldset data-required data-error="{{errorMessageThree}}">
        <div class="form-group">
          <h3 class="heading-small">Weight of catch</h3>
          <div class="form-group-day">
            <label class="form-label day" for="lb">lb</label>
            <input class="form-control" id="lb" name="lb" type="number" value="{{currentFish.lb}}" >
          </div>
          <div class="form-group-month">
            <label class="form-label month" for="oz">oz</label>
            <input class="form-control" id="oz" name="oz" type="number" value="{{currentFish.oz}}">
          </div>
          <!-- <button class="button button-secondary">Convert to metric</button> -->
        </div>
      </fieldset>


      <fieldset data-required data-error="{{errorMessageFour}}">
        <div class="form-group">
          <h3 class="heading-small">Method of capture</h3>
          <label for="methodFly" class="block-label selection-button-radio">Fly
                  <input id="methodFly" type="radio" name="MethodOfCapture" value="methodFly" {{#if flyChecked}}checked{{/if}}>
                </label>
          <label for="methodSpinner" class="block-label selection-button-radio">Spinner
                  <input id="methodSpinner" type="radio" name="MethodOfCapture" value="methodSpinner" {{#if spinnerChecked}}checked{{/if}}>
                </label>
          <label for="methodBait" class="block-label selection-button-radio">Bait
                  <input id="methodBait" type="radio" name="MethodOfCapture" value="methodBait" {{#if baitChecked}}checked{{/if}}>
                </label>
        </div>
      </fieldset>
      <fieldset data-required data-error="{{errorMessageFive}}">
        <div class="form-group">
          <h3 class="heading-small">Released</h3>
          <label for="Yes" class="block-label selection-button-radio">Yes
                  <input id="Yes" type="radio" name="released" value="Yes" {{#if yesChecked}}checked{{/if}}>
                </label>
          <label for="No" class="block-label selection-button-radio">No
                  <input id="No" type="radio" name="released" value="No" {{#if noChecked}}checked{{/if}}>
                </label>
        </div>
      </fieldset>
      <button value="SalmonAndLargeSeaTrout" name="next" class="button" type="Submit">Save</button>
      <a href="review" class="button button-secondary">Cancel</a>
    </form>











  </div>
</div>
