<div class="grid-row">
  <main role="main">
    <section class="column-full">
      <header class="page-header">
        <h1 class="heading-xlarge">
          Catch returns prototype
        </h1>
      </header>

      <h2 class="heading-medium">Original prototype</h2>
      <table>
        <thead>
          <tr>
            <th colspan="1">Version</th>
            <th colspan="1">Last Edited</th>
            <th colspan="1">Link</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td colspan="1">Original prototype</td>
            <td colspan="1">20/06/2017</td>
            <td colspan="1"><a href="/catch-return">View</a></td>
          </tr>
          <!--<tr>
            <td colspan="1">Design improvements</td>
            <td colspan="1">??/??/????</td>
            <td colspan="1"><a href="#">View</a></td>
          </tr>-->
          <!--<tr>
            <td colspan="1">User feedback</td>
            <td colspan="1">??/??/????</td>
            <td colspan="1"><a href="#">View</a></td>
          </tr>-->
        </tbody>
      </table>
      <br>
      <h2 class="heading-medium">Licence details</h2>
      <table>
        <thead>
          <tr>
            <th colspan="1">Licence number</th>
            <th colspan="1">Licence type</th>
            <th colspan="1">Postcode</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td colspan="1">C7A711</td>
            <td colspan="1">8 Day - New user</td>
            <td colspan="1">AAA AAA</td>
          </tr>
           <tr>
            <td colspan="1">C7A722</td>
            <td colspan="1">12 monthe - New user</td>
            <td colspan="1">AAA AAA</td>
          </tr>
          <tr>
            <td colspan="1">C7A744</td>
            <td colspan="1">12 Month  - Returned user</td>
            <td colspan="1">AAA AAA</td>
          </tr>
        </tbody>
      </table>
      <br>
      <!--<table>
        <thead>
          <tr>
            <th colspan="1">Old licence number</th>
            <th colspan="1">Licence type</th>
            <th colspan="1">Postcode</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td colspan="1">635342111</td>
            <td colspan="1">8 Day</td>
            <td colspan="1">AAA AAA</td>
          </tr>
          <tr>
            <td colspan="1">635342444 - Returned user</td>
            <td colspan="1">12 Month</td>
            <td colspan="1">AAA AAA</td>
          </tr>
        </tbody>
      </table>-->
  </main>
</div>