// Catch returns - application CSS
// ==========================================================================


// Settings (variables)
$iconPath: '/public/icons/';
$imagePath: '/public/images/';

// GOV.UK elements
@import 'govuk-elements';


body {
    font-size: 19px;
    line-height: 1.31579;
}

.visually-hidden {
  position: absolute;
  overflow: hidden;
  width: 1px;
  height: 1px;
  clip: rect(1px, 1px, 1px, 1px);
}

.button-secondary {
  background-color: #dee0e2!important;
  color: #0b0c0c!important;
  box-shadow: 0 2px 0 #b5babe!important;
}

.info {
  border: 1px solid #4F8A10;
  background-color: #FFF3CF;
  color: #4F8A10;
  margin: 0 0 -0.5em -0.5em;
  padding: 0.5em;
}

.form-group-number {
  width: 50px;
}

table {
  border: none;
}

table td,
table th {
  border: none;
  border-bottom: solid 1px #bfc1c3;
  padding: 0.7em 0.5em 0.7em 1em;
  border: solid 1px #a1acb2;
}

table th {
  background-color: #dee0e2;
}

table td:last-child, table th:last-child {
  padding: 0.7em 0.5em 0.7em 1em;
}

#day {
  width: 61px;
  float: left;
}

#month {
  width: 82px;
  float: left;
}

#year {
  width: 70px;
  float: left;
}

.form-group-day {
 float: left;
 width: 76px;
}

.form-group-month {
 float: left;
 width: 95px;
}

.form-group-year {
float: left;
 width: 70px;
}

.form-group-number {
  width: 50px;
}

input[type=number] {
  width:50px;
}

.radio-list {
    .block-label {
        float: none;
        padding-top: 8px;
        padding-bottom: 5px;
        margin-bottom: 11px;

        input {
            top: 5px;
        }

        &.disabled {
            cursor: default;
            color: $secondary-text-colour;

            &:hover {
                border-color: $panel-colour;
            }
        }
    }
}
