// Catch returns - application CSS
// ==========================================================================


// Settings (variables)
$iconPath: '/public/icons/';
$imagePath: '/public/images/';

// GOV.UK elements
@import 'govuk-elements';


body {
    font-size: 19px;
    line-height: 1.31579;
}

.visually-hidden {
  position: absolute;
  overflow: hidden;
  width: 1px;
  height: 1px;
  clip: rect(1px, 1px, 1px, 1px);
}

