
{% extends "layout.html" %}

{% block pageTitle %}
  GOV.UK Prototype Kit
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <h1 class="govuk-heading-l">
        Add a fish
      </h1>
       <p class="govuk-body-l">
        Add details of your catch. You don't need to tell us the weight of small fish (1lb and under)</p>
      <form action="summary.html">
        {{ govukInput({
          label: {
            text: "Name of river",
            classes: "govuk-!-font-weight-bold"
          },
          hint: {
            text: "For example, Derwent (Cumbria)"
          },
          id: "river",
          name: "river",
          classes: "govuk-!-width-one-half"
        }) }}

        {{ govukDateInput({
          id: "catch-date",
          name: "catch-date",
          fieldset: {
            legend: {
              text: "Date caught",
              classes: "govuk-!-font-weight-bold"
            }
          },
          items: [
            {
              name: "day"
            },
            {
              name: "month"
            }
          ]
        }) }}

        {{ govukRadios({
          classes: "govuk-radios--inline",
          idPrefix: "changed-name",
          name: "changed-name",
          fieldset: {
            legend: {
              text: "Type of catch",
              isPageHeading: false,
              classes: "govuk-!-font-weight-bold"
            }
          },

          items: [
            {
              value: "salmon",
              text: "Salmon"
            },
            {
              value: "sea-trout",
              text: "Sea trout"
            }
          ]
        }) }}

        {{ govukDateInput({
          id: "catch-weight",
          name: "catch-weight",
          fieldset: {
            legend: {
              text: "Weight of fish",
              classes: "govuk-!-font-weight-bold"
            }
           },
          hint: {
            text: "Only add for salmon or sea trout weighing more than 1lb"
          },
          items: [
            {
              name: "lb",
              classes: "govuk-input--width-2"
            },
            {
              name: "oz",
              classes: "govuk-input--width-2"
            }
          ]
        }) }}

        {{ govukRadios({
          classes: "govuk-radios--inline",
          idPrefix: "method",
          name: "method",
          fieldset: {
            legend: {
              text: "Method",
              classes: "govuk-!-font-weight-bold"
            }
          },
          items: [
            {
              value: "fly",
              text: "Fly"
            },
            {
              value: "spinner",
              text: "Spinner"
            },
            {
              value: "bait",
              text: "Bait"
            }
          ]
        }) }}

        {{ govukRadios({
          classes: "govuk-radios--inline",
          idPrefix: "released",
          name: "released",
          fieldset: {
            legend: {
              text: "Released",
              classes: "govuk-!-font-weight-bold"
            }
          },
          items: [
            {
              value: "yes",
              text: "Yes"
            },
            {
              value: "no",
              text: "No"
            }
          ]
        }) }}

        <button type="submit" class="govuk-button">
          Continue
        </button>
      </form>
      <a class="govuk-body" href="summary-empty">Cancel and return to summary</a>
    </div>
</div>

{% endblock %}
