
{% extends "layout.html" %}

{% block pageTitle %}
  GOV.UK Prototype Kit
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <h1 class="govuk-heading-l">
        Add a river
      </h1>
       <h1 class="govuk-heading-l">
        If you fished in more than one river, you can add another afterwards
      </h1>
      <form action="summary-river.html">
        {{ govukInput({
          label: {
            text: "Name of river",
            classes: "govuk-!-font-weight-bold"
          },
          hint: {
            text: "For example, Derwent (Cumbria)"
          },
          id: "river",
          name: "river",
          classes: "govuk-!-width-one-half"
        }) }}

        {{ govukInput({
          label: {
            text: "How many days fishing in this river?",
            classes: "govuk-!-font-weight-bold"
          },
          hint: {
            text: "Include days without a catch"
          },
          id: "days-fished",
          name: "days-fished",
          classes: "govuk-input--width-3"
        }) }}
        <button type="submit" class="govuk-button">
          Continue
        </button>
      </form>
      <a class="govuk-body" href="summary-empty">Cancel and return to catch return page</a>
    </div>
</div>

{% endblock %}
