
{% extends "layout.html" %}

{% block pageTitle %}
  GOV.UK Prototype Kit
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <h1 class="govuk-heading-l">
        Confirmation of catch return submission
      </h1>
      <p class="govuk-body">Thank you for entering your salmon and sea trout catch return. The information you submitted helps the Environment Agency monitor, assess and manage fish stocks in a sustainable way.</p>
      <p class="govuk-body">We recommend keeping a record of your return so you can show that you’ve complied with the National Fisheries Byelaws.</p>
      <h4 class="govuk-heading-s">Download your catch return</h4>
      <a class="govuk-body" href="#">Download a record of your catch (PDF)</a>
    </div>
</div>

{% endblock %}
