
{% extends "layout.html" %}

{% block pageTitle %}
  GOV.UK Prototype Kit
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-full">
      <h1 class="govuk-heading-l">
        Review and submit your catch return
      </h1>
      <p class="govuk-body-l govuk-!-margin-bottom-7">Check that your return is accurate, then submit. Once submitted, your return cannot be changed.</p>
      <p class="govuk-body-l govuk-!-margin-bottom-7">If you need to make changes, select 'Cancel and return to summary'.</p>
      <form action="confirm.html">
        <table class="govuk-table govuk-!-margin-bottom-9">
          <caption class="govuk-table__caption">Rivers fished</caption>
          <thead class="govuk-table__head">
            <tr class="govuk-table__row">
              <th class="govuk-table__header" scope="col">River</th>
              <th class="govuk-table__header govuk-table__header--numeric" scope="col">Total days fished</th>
            </tr>
          </thead>
          <tbody class="govuk-table__body">
            <tr class="govuk-table__row">
              <th class="govuk-table__cell" scope="row">Derwent (Cumbria)</th>
              <td class="govuk-table__cell govuk-table__header--numeric">11</td>
            </tr>
          </tbody>
        </table>

        <table class="govuk-table govuk-!-margin-bottom-9">
          <caption class="govuk-table__caption">Fish caught</caption>
          <thead class="govuk-table__head">
            <tr class="govuk-table__row">
              <th class="govuk-table__header" scope="col">River</th>
              <th class="govuk-table__header" scope="col">Date</th>
              <th class="govuk-table__header" scope="col">Type</th>
              <th class="govuk-table__header" scope="col">Weight</th>
              <th class="govuk-table__header" scope="col">Method</th>
              <th class="govuk-table__header" scope="col">Released</th>
            </tr>
          </thead>
          <tbody class="govuk-table__body">
            <tr class="govuk-table__row">
              <td class="govuk-table__cell">Derwent (Cumbria)</td>
              <td class="govuk-table__cell">08/17</td>
              <td class="govuk-table__cell">Salmon</td>
              <td class="govuk-table__cell">10lb 2oz</td>
              <td class="govuk-table__cell">Fly</td>
              <td class="govuk-table__cell">No</td>
            </tr>
          </tbody>
        </table>

        <button type="submit" class="govuk-button">
          Submit catch return
        </button>
      </form>
      <a class="govuk-body" href="summary">Cancel and return to summary</a>
    </div>
</div>

{% endblock %}
