
{% extends "layout.html" %}

{% block pageTitle %}
  GOV.UK Prototype Kit
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-full">
      <h1 class="govuk-heading-l">
        Your catch return report
      </h1>
      <form action="submit.html">
        <table class="govuk-table govuk-!-margin-bottom-9">
          <caption class="govuk-table__caption">Rivers fished</caption>
          <thead class="govuk-table__head">
            <tr class="govuk-table__row">
              <th class="govuk-table__header" scope="col">River</th>
              <th class="govuk-table__header govuk-table__header--numeric" scope="col">Days fished in total</th>
              <th class="govuk-table__header govuk-table__header--numeric" scope="col">Actions</th>
            </tr>
          </thead>
          <tbody class="govuk-table__body">
            <tr class="govuk-table__row">
              <td class="govuk-table__cell" scope="row">Derwent (Cumbria)</td>
              <td class="govuk-table__cell govuk-table__header--numeric">11</td>
              <td class="govuk-table__cell govuk-table__cell--numeric"><a href="add-river">Edit</a> | <a href="delete-river">Delete</a></td>
            </tr>
            <tr class="govuk-table__row defra-new-table-row">
              <td class="govuk-table__cell" scope="row"><input class="govuk-input govuk-input--width-10" id="national-insurance-number" name="national-insurance-number" type="text" aria-describedby="national-insurance-number-hint">
</td>
              <td class="govuk-table__cell govuk-table__header--numeric"><input class="govuk-input govuk-date-input__input govuk-input--width-2 " id="dob-day" name="days" type="number" pattern="[0-9]*"></td>
              <td class="govuk-table__cell govuk-table__cell--numeric"><a href="#">Add river</td>
            </tr>
          </tbody>
        </table>

        <table class="govuk-table">
          <caption class="govuk-table__caption">Fish caught</caption>
          <thead class="govuk-table__head">
            <tr class="govuk-table__row">
              <th class="govuk-table__header" scope="col">River</th>
              <th class="govuk-table__header" scope="col">Date</th>
              <th class="govuk-table__header" scope="col">Type</th>
              <th class="govuk-table__header" scope="col">Weight</th>
              <th class="govuk-table__header" scope="col">Method</th>
              <th class="govuk-table__header" scope="col">Released</th>   
              <th class="govuk-table__header govuk-table__header--numeric" scope="col">Actions</th>
            </tr>
          </thead>
          <tbody class="govuk-table__body">
            <tr class="govuk-table__row">
              <td class="govuk-table__cell">Derwent (Cumbria)</td>
              <td class="govuk-table__cell">08/17</td>
              <td class="govuk-table__cell">Salmon</td>
              <td class="govuk-table__cell">10lb 2oz</td>
              <td class="govuk-table__cell">Fly</td>
              <td class="govuk-table__cell">Yes</td>
              <td class="govuk-table__cell govuk-table__cell--numeric"><a href="add-fish">Edit</a> | <a href="delete-fish">Delete</a></td>
            </tr>
            <tr class="govuk-table__row">
              <td colspan="7" class="govuk-table__cell govuk-table__cell--numeric defra-borderless"><a href="add-fish">Add fish</a></td>
            </tr>
          </tbody>
        </table>
        <p>If you plan to fish for salmon and sea trout again this season, and your licence is still valid, please select ‘Save and submit catch return later’. This allows you to update your return with further catches.</p>
        <p>If you have finished fishing for salmon and sea trout on this licence, please select Review catch return’, where you will have a chance to check your return before final submission. Once submitted, you cannot add to or edit your data.</p>
        <p>You can continue to fish for non-migratory trout and freshwater fish as long as your licence is valid.</p>
        <button type="submit" class="govuk-button">
          Review catch return
        </button>
      </form>
      <a class="govuk-body" href="index">Save and submit catch return later</a>
    </div>
</div>

{% endblock %}
